<h1>All Questions</h1>
<%= link_to 'New Question', new_question_path, class: "btn btn-default" %>

  <% @questions.each do |question| %>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title"><%= question.subject %></h3>
      </div>
      <div class="panel-body">
        <%= question.q_content %>
      </div>
      
      <div class="panel-footer">
        <%= link_to 'Show', question %>
        <%= link_to 'Edit', edit_question_path(question) %>
        <%= link_to 'Destroy', question, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
    

    
  <% end %>

<br />


